[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.12"

[packages]
playwright = "*"
requests = "*"
gspread = "*"
loguru = "*"
python-dotenv = "*"
playwright-stealth = "*"
pydantic = ">=2.0"
google-genai = "*"
markdownify = "*"
ruff = "*"
mypy = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
vulture = "*"
pytest-cov = "*"
