[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
playwright = "*"
requests = "*"
pytest-asyncio = "*"
pytest-cov = "*"
gspread = "*"
loguru = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.9"
