[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
playwright = "*"
requests = "*"
pytest-cov = "*"
gspread = "*"
loguru = "*"
python-dotenv = "*"
playwright-stealth = "*"
pydantic = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-playwright = "*"
